body {
  font-family: Open Sans, Arial;
  color: #050505;
  margin: 0em;
}

header {
  background-color: #1A1363;
  color: #F8F8F8;
  font-size: 2em;
  padding: 0.5em;
}

header a {
  color: #F8F8F8;
  text-decoration: none;
}

header a:visited {
  color: #F8F8F8;
}

main {
  margin: 1em;
}

