body {
  font-family: Open Sans, Arial;
  color: #050505;
  margin: 0em;
}

/* These items change the styles for the header block above each page. */
header {
  background-color: #1A1363;
  color: #F8F8F8;
  font-size: 1.5em;
  padding: 0.5em;
  box-shadow: 1px 1px 5px 0px #080808;
}

header a {
  color: #F8F8F8;
  text-decoration: none;
}

header a:visited {
  color: #F8F8F8;
}

header label {
  float: right;
}

/* These items change the styles for the items in the hamburger menu. */
header nav {
  position: absolute;
  width: 100%;
  left: 0em;
  top: 2.36em;
  background-color: #333333;
  display: none;
}

header nav a {
  font-size: 0.8em;
  padding: 0.5em 0.5em 0.5em 1.0em;
  display: block;
}

header nav a:hover {
  background-color: #666666;
}

/* These items change the styles for the main document contents. */
main {
  margin: 1em;
}

main h1 {
  font-size: 1.5em; /* Default is 2em */
}

main h1.center {
  text-align: center;
}

main h2 {
  font-size: 1.2em; /* Default is 1.5em */
}

main h2.center {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: left;
  padding: 0.2em 0.6em 0.2em 0.6em;
}

td {
  padding: 0.2em 0.6em 0.2em 0.6em;
}

tr.rowheading {
  background-color: #A9C3EF;
}
