body {
  font-family: Open Sans, Arial;
  color: #050505;
  margin: 0em;
}

/* These items change the styles for the header block above each page. */
header {
  background-color: #1A1363;
  color: #F8F8F8;
  font-size: 1.7em;
  padding: 0.5em;
  box-shadow: 1px 1px 5px 0px #080808;
}

header a {
  color: #F8F8F8;
  text-decoration: none;
}

header a:visited {
  color: #F8F8F8;
}

header label {
  float: right;
}

/* These items change the styles for the items in the hamburger menu. */
header nav {
  position: absolute;
  width: 100%;
  left: 0em;
  top: 2.36em;
  background-color: #333333;
  display: none;
}

header nav ul {
  list-style: none;
  margin: 0.5em;
}

header nav ul li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* These items change the styles for the main document contents. */
main {
  margin: 1em;
}

main h1 {
  font-size: 1.7em; /* Default is 2em */
}

main h2 {
  font-size: 1.4em; /* Default is 1.5em */
}

main h3 {
  font-size: 1.1em; /* Default is 1.15em */
}
